<%= turbo_frame_tag "activity_graph" do %>
  <%= cache ["activity_graph", current_user.id, current_user.timezone], expires_in: 1.minute do %>
    <div class="activity-graph-container">
      <div class="activity-graph">
        <% (365.days.ago.to_date..Time.current.to_date).to_a.each do |date| %>
          <% duration = daily_durations[date] || 0 %>
          <% if duration < 1.minute %>
            <% level = 0 %>
          <% else %>
            <% ratio = duration.to_f / length_of_busiest_day %>
            <% level =
              if ratio >= 0.8
                4
              elsif ratio >= 0.5
                3
              elsif ratio >= 0.2
                2
              else
                1
              end %>
          <% end %>
          <a class="day lvl<%= level %>"
            href="?date=<%= date %>"
            data-turbo-frame="_top"
            data-date="<%= date %>"
            data-duration="<%= distance_of_time_in_words(duration) %>"
            title="you hacked for <%= distance_of_time_in_words(duration) %> on <%= date %>">
          </a>
        <% end %>
      </div>
      <p class="super">
        Calculated in <%= link_to ActiveSupport::TimeZone[current_user.timezone].to_s, my_settings_path(anchor: "user_timezone"), data: { turbo_frame: "_top" } %>
      </p>
    </div>
  <% end %>
<% end %>

