<%= turbo_frame_tag "currently_hacking" do %>
  <% if users&.any? %>
    <div class="currently-hacking-list">
      <ul>
        <% users.each do |user| %>
          <%= render "shared/user_mention", user: user, show: [:slack] %>
          <% if active_projects[user.id].present? %>
            <span class="super">
              working on <%= link_to active_projects[user.id].project_name, active_projects[user.id].repo_url, target: "_blank" %>
              <%= link_to "🌌", visualize_git_url(active_projects[user.id].repo_url), target: "_blank" %>
            </span>
          <% end %>
          <% if user == current_user && user.github_username.blank? %>
            <span class="super">
              <%= link_to "Link active projects", my_settings_path(anchor: "user_github_account"), target: "_blank" %>
            </span>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="currently-hacking">
      <span class="super">No one is currently hacking</span>
    </div>
  <% end %>
<% end %>

