<div class="container">
  <h1 class="title">Welcome to the Time Dump</h1>
  <p class="subtitle">
    The time dump is a place to track your time and see how you're spending your time.
  </p>
  <% if current_user %>
    You've logged
    <%= short_time_detailed current_user.heartbeats.today.duration_seconds %> today across
    <%= pluralize(current_user.heartbeats.today.count, 'heartbeat') %>

    <%= turbo_frame_tag "activity_graph", src: activity_graph_static_pages_path do %>
      <div class="loading">
        Loading activity graph...
      </div>
    <% end %>

    <%= turbo_frame_tag "project_durations", src: project_durations_static_pages_path do %>
      <div class="loading">
        Loading project durations...
      </div>
    <% end %>
  <% else %>
    <div class="auth-options">
      <%= link_to "Sign in with Slack", slack_auth_path, class: "auth-button slack" %>
      
      <% if Rails.env.development? %>
        <div class="auth-divider">or</div>
        
        <%= form_tag email_auth_path, class: "email-auth-form" do %>
          <div class="field">
            <%= email_field_tag :email, nil, placeholder: "Enter your email", required: true %>
          </div>
          <%= submit_tag "Send sign-in link", class: "auth-button email" %>
        <% end %>
        <% if params[:sign_in_email] %>
          <div class="auth-success">
            Check your email for a sign-in link!
          </div>
          <% dev_tool do %>
            Because you're on localhost, <%= link_to "click here to view the email", letter_opener_web_path %>
          <% end %>
        <% end %>

      </div>
    <% end %>
  <% end %>
</div> 