<h1>Wakatime Setup</h1>
<p>Step 2 of 4</p>

<h2>Pick your coding editors</h2>
<em>You can change this later!</em>

<ul>
  <li>
    <%= link_to "vs-code", my_wakatime_setup_step_3_path(anchor: "vs-code") %>
  </li>
  <li>
    <%= link_to "kicad", my_wakatime_setup_step_3_path(anchor: "kicad") %>
  </li>
  <li>
    <%= link_to "vim", my_wakatime_setup_step_3_path(anchor: "vim") %>
  </li>
  <li>
    <%= link_to "emacs", my_wakatime_setup_step_3_path %>
  </li>
  <li>
    <%= link_to "other", my_wakatime_setup_step_3_path %>
  </li>
</ul>