<aside>
  <% flash.each do |name, msg| %>
    <div class="flash-message <%= name %>">
      <%= msg %>
    </div>
  <% end %>

  <% if current_user %>
    <%= render "shared/user_mention", user: current_user %>
    <% if current_user.active_project %>
      <p>Currently working on: <%= current_user.active_project %></p>
      <p>Duration: <%= current_user.active_project_duration %></p>
    <% end %>
    <%= link_to "Logout", signout_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "Login", slack_auth_path %>
  <% end %>
  <ul>
    <li>
      <%= link_to root_path, class: "nav-item #{current_page?(root_path) ? 'active' : ''}" do %>
        Home
      <% end %>
    </li>
    <li>
      <%= link_to leaderboards_path, class: "nav-item #{current_page?(leaderboards_path) ? 'active' : ''}" do %>
        Leaderboards
      <% end %>
    </li>
    <% admin_tool(nil, "li") do %>
      <%= link_to avo_path, class: "nav-item #{current_page?(avo_path) ? 'active' : ''}" do %>
        Avo
      <% end %>
    <% end %>
  </ul>
</aside> 