<aside class="nav">
  <% flash.each do |name, msg| %>
    <div class="flash-message <%= name %>">
      <%= msg %>
    </div>
  <% end %>

  <% if current_user %>
    <%= render "shared/user_mention", user: current_user %>
    <%= link_to "Logout", signout_path, data: { turbo_method: :delete } %>
    <% if current_user.active_project && current_user.active_project_duration > 60 %>
      <p>
        Working on: <%= current_user.active_project %>
        (<%= short_time_simple current_user.active_project_duration %> in total)
      </p>
    <% end %>
  <% else %>
    <%= link_to "Login", slack_auth_path %>
  <% end %>

  <hr />

  <ul>
    <li>
      <%= link_to root_path, class: "nav-item #{current_page?(root_path) ? 'active' : ''}" do %>
        Home
      <% end %>
    </li>
    <li>
      <%= link_to scrapyard_leaderboards_path, class: "nav-item #{current_page?(scrapyard_leaderboards_path) ? 'active' : ''}" do %>
        Scrapyard
      <% end %>
    </li>
    <li>
      <%= link_to leaderboards_path, class: "nav-item #{current_page?(leaderboards_path) ? 'active' : ''}" do %>
        Leaderboards
      <% end %>
    </li>
    <% if current_user %>
      <li>
        <%= link_to my_settings_path, class: "nav-item #{current_page?(my_settings_path) ? 'active' : ''}" do %>
          Settings
        <% end %>
      </li>
    <% end %>
    <% dev_tool(nil, "li") do %>
      <%= link_to letter_opener_web_path, class: "nav-item #{current_page?(letter_opener_web_path) ? 'active' : ''}" do %>
        Letter Opener
      <% end %>
    <% end %>
    <% admin_tool(nil, "li") do %>
      <%= link_to avo_path, class: "nav-item #{current_page?(avo_path) ? 'active' : ''}" do %>
        Avo
      <% end %>
    <% end %>
    <% admin_tool(nil, "li") do %>
      <%= link_to good_job_path, class: "nav-item #{current_page?(good_job_path) ? 'active' : ''}" do %>
        GoodJob
      <% end %>
    <% end %>
  </ul>
</aside> 