<div class="user-info <%= current_user == user ? "current-user" : "" %>">
  <%= image_tag user.avatar_url,
                size: "32x32",
                class: "avatar",
                alt: "#{user.username}'s avatar" if user.avatar_url %>
  <% if local_assigns.fetch(:show, []).include?(:slack) && user.slack_uid.present? %>
    <%= link_to "@#{user.display_name}", "https://slack.com/app_redirect?channel=#{user.slack_uid}", target: "_blank" %>
  <% else %>
    <%= user.display_name %>
  <% end %>
  <% if local_assigns.fetch(:show, []).include?(:neighborhood) && user.slack_uid.present? && neighborhood = SlackNeighborhood.find_by_id(user.slack_uid) %>
    <%= link_to "ðŸ˜ï¸", "https://slack.com/app_redirect?channel=#{neighborhood.dig("id")}", target: "_blank" %>
  <% end %>
  <% unless current_user == user %>
    <% admin_tool('', 'span') do %>
      <%= link_to impersonate_user_path(user), class: "impersonate-link", data: { turbo_frame: "_top", turbo_prefetch: "false" } do %>
        ðŸ¥¸
      <% end %>
    <% end %>
  <% end %>
</div>