<!DOCTYPE html>
<html class="<%= Rails.env == "production" ? "production" : "development" %>">
  <head>
    <title><%= content_for(:title) || "Hackatime" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag asset_path('favicon.png'), type: 'image/png' %>

    <script defer data-domain="hackatime.hackclub.com" src="https://plausible.io/js/script.file-downloads.hash.js"></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body style="display: flex;">
    <%= render "shared/nav" %>
    
    <!-- 250px is defined in nav.css -->
    <main style="margin-left: 250px; max-width: calc(100% - 250px); padding: 20px; margin-bottom: 100px;">
      <%= yield %>
      <footer>
        <div class="container">
          <p>
            Build <%= link_to Rails.application.config.git_version, Rails.application.config.commit_link %>
            from <%= time_ago_in_words(Rails.application.config.server_start_time) %> ago.
            <%= pluralize(Heartbeat.recent_count, 'heartbeat') %>
            (<%= Heartbeat.recent_imported_count %> imported)
            in the last 24 hours.
            (DB: <%= pluralize(QueryCount::Counter.counter, "query") %>, <%= QueryCount::Counter.counter_cache %> cached)
            (CACHE: <%= cache_stats[:hits] %> hits, <%= cache_stats[:misses] %> misses)
          </p>
          <% if session[:impersonater_user_id] %>
            <%= link_to "Stop impersonating", stop_impersonating_path, class: "impersonate-link", data: { turbo_prefetch: "false" } %>
          <% end %>
        </div>
        <%= render "static_pages/active_users_graph", hours: active_users_graph_data %>
      </footer>
    </main>

    <div class="currently-hacking-container">
      <%= turbo_frame_tag "currently_hacking", src: currently_hacking_static_pages_path do %>
        <div class="loading">
          Loading currently hacking...
        </div>
      <% end %>
    </div>
  </body>
</html>
